body {
  background-image: url(/assets/img/patron_matrix.png);
  background-size: auto;
  background-repeat:repeat;
  background-attachment: fixed;

  
}

header {
  background-image: url(/assets/img/nav.jpeg);
  background-size:contain;
  background-position: center;
  background-attachment:fixed;

}

a {
    text-decoration: none;
}
