#carretera {
    background: url('/assets/img/cuidad1.jpeg') no-repeat center bottom;
    background-size: cover;
}


#auto img {
    position: absolute;
left: 5%;
bottom: 0%;
max-width: 30rem;

}
#auto2 img {
    position: absolute;
left: 5%;
bottom: 0%;

    max-width: 30rem;

}

button {
    position: absolute;
    right: 0%;
    bottom: 0%;
}